/* Home.css */
.home {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content {
  text-align: center;
  color: white;
  position: absolute;
}

.fab.fa-twitter {
  color: white;
}

.card-container {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.card {
  background: #1e2021;
  color: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 180px;
}

.card i {
  font-size: 40px;
  margin-bottom: 10px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(29, 161, 242, 0.5);
}
.btn-logout{
  background-color: transparent !important;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  transition: background-color 0.3s;
  margin-bottom: 8px;
}