.home {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .content {
    text-align: center;
    color: white;
    position: absolute;
  }
  
  .fab.fa-twitter {
    color: white;
  }
  
  .links {
    margin-top: 20px;
  }
  
  .link {
    color: white;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  