.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

/* Boutons */

.get button{
  background-color: transparent;
  color: black;
}

/* Liste des posts */
ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive */
  gap: 20px;
  padding: 0;
  list-style: none;
}

/* Carte */
li {
  padding: 15px;
  border-radius: 8px;
  /* box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); */
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

li:hover {
  transform: scale(1.02);
}

p {
  margin: 8px 0;
}

/* Images */
.post-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.post-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  margin: 5px;
}

/* Responsive pour mobile */
@media (max-width: 768px) {
  ul {
      grid-template-columns: 1fr; /* Une seule colonne sur mobile */
  }
  
  li {
      padding: 10px;
  }

  button {
      width: 100%; /* Les boutons prennent toute la largeur */
  }
}

/* Header */
.home-header {
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  background: url('../img/hero.png') center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 20px;
}


.hero-content {
  max-width: 600px;
}

.btn-primary {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-primary:hover {
  background-color: rgba(255, 255, 255, 0.8);
}